<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">To print</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="pos_invoice_thermal0.png" />
            <img class="oe_picture" src="pos_invoice_thermal1.png" />
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              To configure this module you must go to Point of Sale -&gt; POS Settings -&gt; and set up your proxy printer, then click on Print all Invoices on thermal.
            </p>
            <p class="oe_mt8">
                This Module avoids normal PDF download, instead download a xml and automatically send it to proxy printer configured.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">Current Pack Layouts</h3>
        <div class="oe_span12 text-justify">
            <p class="oe_mt32">
              - Account Invoice
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan oe_mb32">Try it!</h2>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              Use our ready installed server to try how it work!
            </p>
            <p class="oe_mt8">
                url: <a href="http://demos-11.globalresponse.cl/?db=pos_invoice_thermal">http://demos-11.globalresponse.cl/</a>
            </p>
            <p class="oe_mt8">
                user: admin
            </p>
            <p class="oe_mt8">
                user: demo
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
    <div class="oe_span12">
        <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
            You will get 90 days free support for installation, configuration, or reinstallation (excluding data recovery) or any type of issue related to this module.
            </p>
    </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
         <div class="oe_slogan oe_spaced">
            <img src="/print_to_thermal/static/description/icon.png" />
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/helpdesk">Help</a></span>
            <img src="/print_to_thermal/static/description/icon-support.png">
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/helpdesk">Support</a></span>
            <img src="/print_to_thermal/static/description/icon-features.png">
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/contactus">Request new Features or a Custom Layout</a></span>
        </div>
    </div>
</section>
